*{
    padding: 0;
    margin:0;
    text-decoration:none;
    list-style:none;
    box-sizing: border-box;
}
body{
    font-family:monserrat;
    background-color:#24263B;
}
header{
    width:100%;
    position: fixed;
}
nav{
    background-color:#1F2235;
    height:80px;
    width:100%;
}
Div.logo{
    color:white;
    line-height:80px;
    padding-left:100px;
    
}
nav ul li{
    display: inline-block;
    margin:9px;
   
}
nav ul li a{
    color: white;
    font-size: 14px;
    text-transform: uppercase;
   padding:10px 13px;
}
nav ul{
    float:right;
    margin-right:80px;
    margin-top:-60px;
}

nav ul a:hover{
    background-color:red;
    transition: 0.5s;
}
#social-icons{
    
    padding-top:120px;
    padding-left:80px;
}
.icons{
margin:30px 13px;
    font-size:19px;
    padding:8px 10px;
    border:2px solid red;
    display: inline-block;
    color:#fff;
    border-radius:50%;  
}
.icons:hover{
    background-color:red;
    transition: 0.5s;
   
}
#Home,h2{
     color: white;
    text-align: left;
    padding-left:50px;
    padding-top:20px;
    font-size:45px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#name{
    width:48rem;
    padding-left:50px;
    margin-top:40px;
    font-size:25px;
    font-family: 'Courier New', Courier, monospace;
}
.reel{
    margin-top:32px;
    margin-left:35px;
width:11em;
height:4em;
border-radius: 3em;
background: inherit;
border: 4px solid red;
font-family: Arial, Helvetica, sans-serif;
color:#fff;
}
.reel:hover{
    background-color:red;
    transition: 0.5s;
}
#youtube{
    margin-top:-4%;
    margin-left:200px;
    padding-top:9px;
    padding-left:44px;
    width:5em;
    font-size:20px;
    height:45px;
    border-radius: 3em;
    background:red;
    border:none; 
}
.play-btn-popup-video{
    color: #fff;
}
.image{
    margin-left:64%;
    margin-top:-35%;
}
#Services{
    text-align: center;
}
#small{
    padding-right:20px;
    color: red;
    font-size:21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
   #bold{
     text-align: center;
    padding-right:60px;
font-size:60px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   #services,p{
    margin-top:20px;
    color: #fff;
    width:57rem;
    padding-left:310px;
   }

   .parentdiv {
    margin-top: 5rem;
    margin-left: 6rem;
   }
   #grid{
    display: flex;
   }
.item{
    width:310px;
    height:47.5vh;
    background:#1F2235;
    
    margin-left:2rem;
    border-radius: 16px;
    -webkit-transition: .8s linear;
    -o-transition: .8s linear;
    transition: .8s linear;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}
.item:hover {
    background-color: red;
    transition-duration: 1s;
   
}
#gridd{
    display: flex;
    margin-top: 2rem;
}
.icons2{
  margin-top:15%;
  width:40%;
font-size:30px;
color:rgba(221, 35, 35, 0.678);
}

#letter-head{
    margin-left:-18px;
    font-size:21px;
    color:#fff;
}
#last{
  margin-top:5%;
    margin-left:-284px;
    width:33rem;
  color: #fff;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:16px;
}